.staffreg-main{
    background-color:rgb(239, 231, 231);
    height: 92vh;
    padding-top: 1%;
}
.staff-reg-card-heading{
    text-align: center;
}
.staffreg-card{
    /* border: 2px solid #53d3d1; */
    background-color: #36395A ;
    width: 70%;
    height: auto;
    margin: auto;
    border-radius: 8px;
    padding: 20px;
}
.staffreg-card:hover{
    /* border: 2px solid #53d3d1; */
    background-color: #393d64 ;
   
}
.staffreg-card h4{
    color: #ffffff;
    font-weight: 800;
}
.staff-reg-form{
    /* background-color: red; */
    text-align: center;
}
.staff-reg-form input{
    background-color: white;
    border: 2px solid white ;
    margin-top: 20px;
    width: 30%;
    margin-right: 10px;
    height: 40px;
    color: rgb(0, 0, 0);
    padding: 10px;
    padding-left: 10px;
    border-radius: 5px;
}
.staffreg-card button{
    background-color: #ffffff;
    border: 2px solid #ffffff ;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    padding: 5px 16px;
    border-radius: 5px;
}
.staff-reg-ihave-ac{
    text-align: center;
    margin-top: 20px;
}
.file{
    border: none !important;
    color: white;
}