@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Kanit:wght@300&family=Poppins&display=swap');
/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif; */

body{
    font-family: 'Poppins', sans-serif; 
}
.home-main{
    display: flex;
    background: #2e3047;
}
.home-main-left{
    width: 60%;
    padding-top: 2%;
    padding-left: 10%;
}
.clg-name{
    /* background-color: black; */
    padding: 40px;
    border-left: 3px solid #53d3d1;
}
.home-main-right{
    width: 40%;
    display: flex;
    align-items: center;
}
.home-main-left,.home-main-right{
    height: 92vh;
}
.home-main-left h1{
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 50px;
    color: #000000;
    margin-bottom: 40px;
}
.home-contctus-btn,.home-aboutus-btn{
    text-decoration: none;
    color: #53d3d1;
    padding: 9px 20px;
    margin-right: 20px;
    border: 2px solid #000000;
    border-radius: 40px;
    transition: .3s;
    font-weight: 800;
    letter-spacing: 1px;
}



.home-actype-main-card{
   border: 3px solid   #36395A ;
   border-radius: 10px;
    height: auto;
    text-align: center;
    margin-left: 5%;
    padding: 20px;
    background-color:  #36395A ;
    padding-bottom: 40px;
    width: 400px;
}
.home-actype-main-card h3{
    color: #ffffff;
    font-weight: 700;
}
.home-btns{
    margin-bottom: 30px;
    margin-top: 30px;
}
.home-admin-btn,.home-staff-btn,.home-student-btn{
    background-color: white  ;
    margin-bottom: 10px !important;
    padding: 7px 60px;
    border: 2px solid #ffffff;
    color: rgb(0, 0, 0);
    font-weight: 700;
    width: 80%;
    text-decoration: none;
    border-radius: 4px;
}

.home-admin-btn{
    padding: 7px 65px;
}
.home-staff-btn{
    padding: 7px 72px;
}
.home-admin-btn:hover{
    background-color: white;
    color: #000000;
}
.home-staff-btn:hover{
    background-color:white;
    color: #000000;
}
.home-student-btn:hover{
    background-color: white;
    color: #000000;
}

@media (min-width:300px) and (max-width:575.98px){
    .home-main{
        display: inline;
    }
}















/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Kanit:wght@300&family=Poppins&display=swap'); */
/* font-family: 'Josefin Sans', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Poppins', sans-serif; */

/* body{
    font-family: 'Poppins', sans-serif; 
  
}
.home-main{
    display: flex;
    background-color:rgb(0, 0, 0);
}
.home-main-left{
    width: 60%;
    padding-top: 1%;
    padding-left: 10%;
  
}
.clg-name{
    background-color: black;
    padding: 40px;
    border-left: 3px solid #000000;
}
.home-main-right{
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    margin-left: 34%;
}
.home-main-left,.home-main-right{
    height: 92vh;
}
.home-main-left h1{
    font-weight: 900;
    letter-spacing: 2px;
    font-size: 50px;
    color: #53d3d1;
    margin-bottom: 40px;
}
.home-contctus-btn,.home-aboutus-btn{
    text-decoration: none;
    color: rgb(255, 0, 0);
    padding: 9px 20px;
    margin-right: 20px;
    border: 2px solid #53d3d1;
    border-radius: 40px;
    transition: .3s;
    font-weight: 800;
    letter-spacing: 1px;
}


.home-actype-main-card{
   border-radius: 10px;
    height: auto;
    text-align: center;
    padding: 40px 50px;
    padding-bottom: 40px;
    background-color: #36395A;
    width: 490px;
}
.home-actype-main-card h3{
    color: #ffffff;
    font-weight: 700;
}
.home-btns{
    margin-bottom: 30px;
    margin-top: 30px;
}
.home-admin-btn,.home-staff-btn,.home-student-btn{
    background-color: #ffffff;
    margin-bottom: 10px !important;
    padding: 7px 60px;
    color: #2e3047;
    font-weight: 700;
    width: 89%;
    text-decoration: none;
    border-radius: 4px;
}
.home-admin-btn{
    padding: 7px 65px;
}
.home-staff-btn{
    padding: 7px 72px;
} */
/* .home-admin-btn:hover{
    background-color: white;
    color: #000000;
}
.home-staff-btn:hover{
    background-color: white;
    color: #000000;
}
.home-student-btn:hover{
    background-color: white;
    color: #000000;
} */

/* @media (min-width:300px) and (max-width:575.98px){
    .home-main{
        display: inline;
    }
} */